<a href="https://colab.research.google.com/github/MANOJKUMARKONDURU/05_Machine-Learning_Nov10_2025/blob/main/01_Pandas_Nov10/01_DataFrame/04_Data_Selection_with_iloc%5B%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Selection with .iloc[]

#pandas.DataFrame.iloc
Purely integer-location based indexinf for selection by position.

*  **iloc: i - integer, loc-location**
*  iloc[] = iloc indexer = iloc accessor


1. Same rules apply for indexing:
* Python lists
* Series by indexing
* Python Series and DataFrames with .iloc[]


 strict implicit, integer location, position-based indexing

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('Lending-company.csv', index_col='StringID')
lending_co_data = data.copy()
lending_co_data.head()

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [ ]:
lending_co_data[1]

KeyError: 1

In [ ]:
lending_co_data['DailyRate'].head()

StringID
LoanID_1    45
LoanID_2    45
LoanID_3    45
LoanID_4    45
LoanID_5    55
Name: DailyRate, dtype: int64

In [ ]:
#row specifier = row indexer
lending_co_data.iloc[1]

LoanID                     2
Product            Product D
CustomerGender        Female
Location          Location 6
Region              Region 6
TotalPrice               NaN
StartDate         02/01/2019
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3161
AmtPaid60               4096
AmtPaid360             16041
LoanStatus            Active
Name: LoanID_2, dtype: object

In [ ]:
lending_co_data.iloc[1, 7]

np.int64(2200)

In [ ]:
lending_co_data.iloc[0:5]

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [ ]:
#[start: end, column]
lending_co_data.iloc[:, 7]

StringID
LoanID_1       2200
LoanID_2       2200
LoanID_3       1000
LoanID_4       2200
LoanID_5       2200
               ...
LoanID_1039    2200
LoanID_1040    2200
LoanID_1041    2200
LoanID_1042    1000
LoanID_1043    2200
Name: Deposit, Length: 1043, dtype: int64

In [ ]:
#[[rows we want], rows:columns]
lending_co_data.iloc[[1, 7],:]

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_8,8,Product D,Male,Location 46,Region 5,17600.0,24/04/2018,2200,45,365,4071,4056,16351,Active

In [ ]:
lending_co_data.iloc[[1, 7],:7]

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate
StringID,,,,,,,
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019
LoanID_8,8,Product D,Male,Location 46,Region 5,17600.0,24/04/2018

In [ ]:
#to retrive entire columns
lending_co_data.iloc[:,[1, 7]]

               Product  Deposit
StringID
LoanID_1     Product B     2200
LoanID_2     Product D     2200
LoanID_3     Product B     1000
LoanID_4     Product A     2200
LoanID_5     Product B     2200
...                ...      ...
LoanID_1039  Product B     2200
LoanID_1040  Product A     2200
LoanID_1041  Product A     2200
LoanID_1042  Product B     1000
LoanID_1043  Product A     2200

[1043 rows x 2 columns]