<a href="https://colab.research.google.com/github/MANOJKUMARKONDURU/05_Machine-Learning_Nov10_2025/blob/main/01_Pandas_Nov10/01_DataFrame/05_lending_co_data_iloc%5B%5B1%2C_7%5D%2C_%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# .loc[]

= loc indexer = loc accessor

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('Lending-company.csv', index_col='StringID')
lending_co_data = data.copy()
lending_co_data.head()

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [ ]:
#to retrive everything in a specific row
lending_co_data.loc['LoanID_1']

LoanID                     1
Product            Product B
CustomerGender        Female
Location          Location 3
Region              Region 2
TotalPrice           17600.0
StartDate         04/07/2018
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3221
AmtPaid60               4166
AmtPaid360             14621
LoanStatus            Active
Name: LoanID_1, dtype: object

In [ ]:
lending_co_data.loc['LoanID_1', 'Deposit']

np.int64(2200)

In [ ]:
lending_co_data.loc[:,'Location']

StringID
LoanID_1        Location 3
LoanID_2        Location 6
LoanID_3        Location 8
LoanID_4       Location 26
LoanID_5       Location 34
                  ...
LoanID_1039    Location 73
LoanID_1040    Location 82
LoanID_1041    Location 11
LoanID_1042    Location 26
LoanID_1043    Location 94
Name: Location, Length: 1043, dtype: object

In [ ]:
lending_co_data.loc[:,['Location', 'Region']].head()

             Location    Region
StringID
LoanID_1   Location 3  Region 2
LoanID_2   Location 6  Region 6
LoanID_3   Location 8  Region 3
LoanID_4  Location 26  Region 2
LoanID_5  Location 34  Region 3