<a href="https://colab.research.google.com/github/MANOJKUMARKONDURU/05_Machine-Learning_Nov10_2025/blob/main/02_Series/01_Pandas_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Intro to pandas

open source library

easy to use data structures and data analysis tools for Python programming language

derivered from **panel data** -> **pandas**

built on top of numpy

**most of the work will be done with the help of two high performance and easy to use data structures - 1)series, 2) Dataframe**

#Series
single column data - 1D array(numpy)

#DataFrame
Multicolumn data - 2D array(numpy)

#what Pandas will do
data analysis much faster

can import or export files(.csv, .json, etc)


**Numpys-** best for numerical calculations

**pandas**- Best for analysing dataset containing multiple types of information.eg:numbers, strings, date and time etc

shouldn't mix datatypes in rows and columns

a row should have only strings or integers or float- if not will lead to confuse

In [ ]:
import pandas as pd

In [ ]:
print(pd.__version__)

2.2.2

In [ ]:
products = ['A', 'B', 'C', 'D']
products

['A', 'B', 'C', 'D']

In [ ]:
type(products)

list

In [ ]:
#turn list into series
product_categories = pd.Series(products)

In [ ]:
product_categories

0    A
1    B
2    C
3    D
dtype: object

type of data stored in series  - object- is not numerical

In [ ]:
type(product_categories) # to see type

pandas.core.series.Series

In [ ]:
type(pd.Series(products))

pandas.core.series.Series

In [ ]:
daily_rate_dollars = pd.Series([100, 21, 27, 35])

daily_rate_dollars

0    100
1     21
2     27
3     35
dtype: int64

the data type - int

In [ ]:
print(daily_rate_dollars)

0    100
1     21
2     27
3     35
dtype: int64

In [ ]:
import numpy as np

In [ ]:
array_a = np.array([10, 20, 30, 40, 50])
array_a

array([10, 20, 30, 40, 50])

In [ ]:
#to check the type of the object
type(array_a)

numpy.ndarray

In [ ]:
series_a = pd.Series(array_a)
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
print(series_a)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
#to check the type of the object
type(series_a)

pandas.core.series.Series

#Take aways
#1 -
   The pandas series is something like powerful version of list, or an enchanved version of the numpy array.

#2-
Remember to always maintain  **data consistency** (nevver mix different data types)