<a href="https://colab.research.google.com/github/MANOJKUMARKONDURU/05_Machine-Learning_Nov10_2025/blob/main/02_Series/02_Working_with_Attributes_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#2-Working with Attributes

Almost every entity in python is and object

Python object contain:
*  data
*  metadat(info about data)
*  related functionalities

#Attribute

A variable providing metadata about an object


#Method
a function that can be associated with an object


**Python objects represents collection of attributes and methods**

In [ ]:
import pandas as pd

In [ ]:
series_a = pd.Series([10, 20, 30, 40, 50])
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
#dtype - data type
series_a.dtype

dtype('int64')

In [ ]:
#how many objects in a series
series_a.size

5

In [ ]:
product_catogories = pd.Series(["A", "B", "C", "D"])
product_catogories

0    A
1    B
2    C
3    D
dtype: object

In [ ]:
product_catogories.dtype

#'O' = object - the default type assigned to non-numeric data

dtype('O')

In [ ]:
product_catogories.size  #number of datapoints

4

In [ ]:

type(product_catogories.size)

int

In [ ]:
print(product_catogories.name)

None

In [ ]:
product_catogories.name = "Product Catogories"
product_catogories

0    A
1    B
2    C
3    D
Name: Product Catogories, dtype: object

In [ ]:
product_catogories.name

'Product Catogories'

In [ ]:
print(product_catogories.name)

Product Catogories

# The attributes related to a certain python object allow us to extract information about it but they are not meant to modify or alter it's content