<a href="https://colab.research.google.com/github/MANOJKUMARKONDURU/05_Machine-Learning_Nov10_2025/blob/main/02_Series/04_Label_based_vs_Position_based_Indexing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#4.Label-based vs Position based Indexing

In [ ]:
import pandas as pd

In [ ]:
series_a = pd.Series([10,20,30,40,50])
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int64

#1. Position based-indexing
= Zero based indexing

**here we have Implicit indexing**- means even we didn't provide any specific index.we got indices

In [ ]:
series_a.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
type(series_a.index)

pandas.core.indexes.range.RangeIndex

In [ ]:
list(series_a.index)

[0, 1, 2, 3, 4]

#1.Label Based Indexing


Here Product A, Product B, Product C are **Labels**


**Here we have explicit indexing** - means we mentioned the index(like Product A, etc)

In [ ]:
prices_per_catagory = pd.Series({"Product A": 21000, "Product B": 27000, "Product C": 13000})
prices_per_catagory

Product A    21000
Product B    27000
Product C    13000
dtype: int64

**pandas will immediatley attach zero-based indexing to theor object if index is not specified by the user**