<a href="https://colab.research.google.com/github/MANOJKUMARKONDURU/05_Machine-Learning_Nov10_2025/blob/main/01_Pandas_Nov10/02_Series/05_More_on_working_with_indices_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#5More on working with indices in python

In [ ]:
import pandas as pd

In [ ]:
series_a = pd.Series([10, 20, 30, 40])
prices_per_catagory = pd.Series({"Product A": 21000, "Product B": 27000, "Product C": 13000})

In [ ]:
series_a

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
print(series_a[1])

20

#explicit index

In [ ]:
prices_per_catagory

Product A    21000
Product B    27000
Product C    13000
dtype: int64

In [ ]:
print(prices_per_catagory['Product A'])

21000

In [ ]:
print(prices_per_catagory[1])

27000

/tmp/ipython-input-3974018624.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(prices_per_catagory[1])

In [ ]:
series_b = pd.Series([10, 20, 30, 40, 50], index = [1, 2, 3, 4, 5])
series_b

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [ ]:
series_b[0]

KeyError: 0

In [ ]:
print(series_b[1])

10

In [ ]:
series_c = pd.Series([10, 20, 30, 40, 50], index = ['1','2', '3', '4', '5'])

series_c

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [ ]:
print(series_c[1])

20

/tmp/ipython-input-147130775.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series_c[1])

In [ ]:
print(series_c['1'])

10

In [ ]:
print(series_c[0])

10

/tmp/ipython-input-2434070589.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series_c[0])

In [ ]:
prices_per_catagory

Product A    21000
Product B    27000
Product C    13000
dtype: int64

#axis labels = label-based indexing